:root {
    font-family: "Courier New", monospace;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color: #fff;
    background: #111;
}

.container {
    width: 500px;
    margin: 20vh auto;
}

.card {
    padding: 20px;
    border-radius: 10px;
    background: #222;
}

.card + .card {
    margin-top: 10px;
}
